.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

.row-fluid {
  width: 760px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

.borderheader#one {
  height: 260px;
  width: 100%;
}

.borderheader#two {
  height: 420px;
  width: 100%;
  border-bottom: 1px solid #bcbcbc;
  margin-top: 30px;
  margin-bottom: 40px;
}

.borderheader#three {
  height: 488px;
  width: 100%;
  border-bottom: 1px solid #bcbcbc;
}

.borderheader#four {
  height: 475px;
  width: 100%;
  border-bottom: 1px solid #bcbcbc;
}

.header {
  margin-top: 60px;
  height: 140px;
  width: 760px;
  background: url(src/block-friday/logo.png) no-repeat top left;
  background-size: 140px 140px;
  float: left;
  font-weight: bold;
  font-size: 72px;
  padding-bottom: 20px;
  color: #444;
  line-height: 0px;
}

.header p {
  margin-top: 60px;
  margin-left: 160px;
}

.header p#presented {
  text-align: right;
  font-size: 18px;
  font-style: italic;
  font-family: georgia;
  font-weight: normal;
}

.statement {
  font-size: 48px;
  line-height: 58px;
  padding-bottom: 60px;
}

.video {
  padding-bottom: 45px;
}

.divider {
  text-align: center;
  font-family: 'Georgia', Times, serif;
  font-size: 18px;
  font-style: italic;
  width: 350px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background: #f2f2f2;
}

.friends li {
  width: 185px;
  height: 185px;
  padding-right: 10px;
  list-style-type: none;
  float: left;
  margin: auto;
  display: block;
}

.friends li img {
  margin: auto;

}

.cta {
  margin-top: 40px;
  padding-bottom: 65px;
}

.action {
  float: left;
  font-size: 24px;
  line-height: 36px;
  width: 260px;
  height: 350px;
  margin-right: 20px;
  display: block;
}

.thing p {
  padding-top: 10px;
  width: 145px;
  font-size: 12px;
  line-height: 16px;
  display: block;
  padding-bottom: 0;
}

.thing p b {
  font-size: 16px;
}

#things {
  width: 470px;
  height: 350px;
  padding-bottom: 75px;
  float: left;
}

.thing {
  float: left;
  width: 147px;
  margin-right: 9px;
}

.top-thing {
  height: 126px;
  position: relative;
  margin-bottom: 5px;
}

.top-thing img {
  position: absolute;
  bottom: 0;
  width: 130px;
  margin-left: 7.5px;
}

.bottom-thing {

}

.friends {
  margin-top: 50px;
  height: 400px;
}

#holstee {
  background: url(logos/holstee.png) no-repeat;
  background-size: 220px auto;
  background-position: 50% 30%;
  width: 100%;
  height: 125px;
  text-indent: -9999px;
}

#summit {
  background: url(logos/summit.png) no-repeat;
  background-size: 175px auto;
  background-position: 50% 50%;
  width: 175px;
  height: 185px;
  float: left;
  padding-right: 15px;
}

#unreasonable {
  background: url(logos/unreasonable.png) no-repeat;
  background-size: 175px auto;
  background-position: 50% 50%;
  width: 175px;
  height: 185px;
  float: left;
  padding-right: 15px;
}

#seth {
  background: url(logos/seth.png) no-repeat;
  background-size: 175px auto;
  background-position: 50% 50%;
  width: 175px;
  height: 185px;
  float: left;
  padding-right: 15px;
}

#nomi {
  background: url(logos/nomi.png) no-repeat;
  background-size: 175px auto;
  background-position: 50% 50%;
  width: 175px;
  height: 185px;
  float: left;

}

/* MailChimp Form Embed Code - Slim - 08/17/2011 */
#mc_embed_signup form {
  text-align:left;
  float: right;
  margin-top: -10px;
}

#mc_embed_signup h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
#mc_embed_signup input {border:1px solid #999; -webkit-appearance:none;}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus {border-color:#333;}
#mc_embed_signup .button {clear:both; background-color: #aaa;
  border: 0 none; border-radius:4px; color: #FFFFFF; cursor: pointer; display: inline; font-size:22px;
  font-weight: bold; height: 40px; line-height: 32px; margin: 0 5px 10px 0; padding:0; text-align: center;
  text-decoration: none; vertical-align: top; white-space: nowrap; width: auto;}
#mc_embed_signup .button:hover {background-color:#777;}
#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .clear {clear:none; display:inline;}

#mc_embed_signup label {display:inline; font-size:16px; padding-bottom:0px; font-weight:bold;}
#mc_embed_signup input.email {display: inline; padding:0px 0; margin:0 10px 0px 0; text-indent:8px; width:270px; min-width:130px; height: 40px;}
#mc_embed_signup input.button {display: inline; width:180px; margin:0 0 10px 0; min-width:90px;}

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}


