.ropa-sans{font-family:'Ropa Sans', sans-serif;}
.uppercase{text-transform:uppercase;}
html,body,.window-height{height:100%;min-height:100%;max-height:100%;}
.window-width{width:100%;min-width:100%;max-width:100%;}
#background{overflow:hidden;position:fixed;z-index:300;background: url('src/block-friday/Black-Friday-2011-bw.jpg') no-repeat center center fixed; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
#foreground{position:relative;z-index:301;}
#sleeve-1{background:#222222 url(src/block-friday/dark_wall.png);overflow:hidden;}
#sleeve-1 p{font-size:40px;line-height:75px;color:#fff;}
#sleeve-1 p span{display:block;margin:auto;}
#sleeve-1 a.btn{margin-top:25px;font-size:25px}
#sleeve-1 .center-horizontal{width:960px;text-align:center;position:relative;margin:auto;}
#sleeve-1 .center-vertical{position:absolute;top:50%;height:381px;margin-top:-190px;}
#sleeve-2{overflow:hidden;}
#sleeve-2 .center-horizontal{width:350px;text-align:center;position:relative;margin:auto;}
#sleeve-2 .center-vertical{position:absolute;top:50%;height:480px;margin-top:-240px;}
#sleeve-2 #logo{width:205px;height:205px;margin:0 auto 25px auto;}
#sleeve-2 #success{padding:0 0 25px 0 ;color: hsl(162, 60%, 61%);text-shadow: 2px 2px black;font-size: 14px;font-weight: 700;}
#sleeve-2 form input.email{font-size:25px;display:block;width:337px;padding:0 5px 0 5px;height:36px;}
#sleeve-2 form input.email::-webkit-input-placeholder {line-height:25px;}
#sleeve-2 form select.identify{font-size:25px;display:block;width:350px;padding:3px 0 3px 5px;height:38px;}
#sleeve-2 form input.btn{font-size:25px;padding:14px 14px;width:345px;}
#sleeve-2 p{font-size:30px;line-height:30px;color:#222;margin:25px 0 0 0;font-weight: 700;}
#sleeve-2 p a:visited,
#sleeve-2 p a:link,
#sleeve-2 p a:active{color:#222;}
#sleeve-2 p a:hover{color:#222;}
#coalition{width:310px;padding: 20px;text-align:center;position:absolute;bottom:0;}
#coalition p {font-weight:400; z-index: 1000;font-size:15px;color:#fff}
#coalition p a{text-decoration:underline;}
#coalition p a:visited,
#coalition p a:link,
#coalition p a:active{color:#fff;}
#coalition p a:hover{color:#fff;}

@media (max-width: 500px) {
  #sleeve-1 p{font-size:20px;line-height:25px;}
  #sleeve-1 .center-horizontal{width:300px;}
  #sleeve-1 .center-vertical{height:232px;margin-top:-116px}
  #coalition{display:none;}
  #logo{width:150px !important;height:150px !important;}
  #sleeve-2 form input.email{width:297px;}
  #sleeve-2 form select.identify{width:310px;}
  #sleeve-2 form input.btn{width:305px;}
  #sleeve-2 p{font-size:20px;line-height:20px}
  #sleeve-2 .center-horizontal{width:310px;}
  #sleeve-2.window-width{height: 140%;min-height: 140%;max-height: 140%;}
}